.product__list {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1.5rem;
}

.product__list .product__item {
  padding: 1.5rem;
  background-color: #25282c;

  display: grid;
  place-items: center;
  text-align: center;
  grid-gap: 0.8rem;
}

.product__list .product__item:hover {
  cursor: pointer;
  box-shadow: #292c30 0 0 10px 0;
  transition: all 0.3s;
}

.product__list .product__item img {
  width: 100%;
  max-width: 18rem;
  max-height: 15rem;
  max-height: 12rem;
}
